body{
	background:#F6F6F6;
}
.logo{
	font-size: 18px;
	color: #CF5022;
}
.navbar_hover a:hover{
	color: #CF5022;
}
.header-img{
	background:url(../images/header.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 200px;
	padding-bottom: 250px;
}
.header-img h2{
	font-size: 70px;
	font-weight: bold;
	color: #DDDEDE;
}
.modus{
	color: #E75926;
}
.header-img p{
	    font-size: 20px;
	    color: #DDDEDE;
}
.header-img button{
	background: #CF5022;
}
.line{
	height: 4px;
    width: 70px;
    text-align: center;
    background:#E75926 ;
}
.icon{
	color:#E75926 ;
	font-size: 11px;
}
.about p{
	font-size: 14px;
}
.services-img{
	background:url(../images/second-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 150px;
}
.services .text{
	color: #f6f6f6;
}
.services p{
	color: #C2CAB8;
	font-size: 13px;
}
.icon2{
	font-size: 35px;
	color: #CF5022;
}
.PORTFOLIO .active-button{
	background:#CF5022;
	color: white;
	border:#CF5022;
}
.PORTFOLIO button:hover{
	background:#CF5022;
}
.team{
	background: #E6E6E6;
}
.client-image{
	background:url(../images/client-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 150px;
}
.client h2{
	color: #F6F6F6;
}
.client-icon{
	font-size: 25px;
	color:#909192;
}
.client-body{
	color:#DBDDD0;
}
.client .underline{
	width: 110px;
	text-align: center;
	background: white;
}
.contact .icon1{
	font-size: 18px;
	color:#E75926;
}
#name{
	width: 350px;
    height: 34px;
    margin-left: 190px;
}
#email{
	width: 350px;
    height: 34px;
    margin-top: -6px;
    margin-left: -190px;
}
#message{
	width: 730px;
	height: 80px;
	padding-top: 0px;
}
.message{
	background: #A13E1A;
	color: white;
}
.contact button{
	background: #CF5022;
}
.icons i{
	font-size: 25px;
	color: #CF5022;
}